# Android
*.iml
.gradle
/local.properties

# IDE: only share code style and inspection profiles
/.idea/*
!/.idea/codeStyles/
!/.idea/inspectionProfiles/

.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx

# Kotlin
.kotlin/

# Secrets
/local-secrets/

# Build artifacts
*.apk
*.aar
*.ap_
*.dex

# Log files
*.log
